{% extends "base.html" %}

{% block content %}
<div class="container">
 <div class="row">
{% for obj in object_list %}
         <div class="col-md-12 col-md-offset-8">
             <div class="col-md-8 col-md-offset-8">
            <div class="card-deck">
  <div class="card border-info mb-3">
    <!--img class="card-img-top" src=".../100px180/" alt="Card image cap"-->
    <div class="card-body">
        <h5 class="card-title border-info mb-3"><a href="{{ obj.get_absolute_url }}">{{obj.title}}</a><small>{{obj.timestamp}}</small><br/></h5>
      <p class="card-text"> {{ obj.description|linebreaks|truncatechars:100 }}</p>
    </div>
      <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">view</a></p>
    <div class="card-footer border-info mb-3 bg-success mb-3">
      <small class="text-muted">updated: {{obj.updated}}</small>
    </div>
  </div>
           </div>
            </div>
        </div>
    {% endfor %}

     <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


      </div>
 </div>





{% endblock %}